.main-title {
    text-align: center;
    color: rgb(194, 208, 185);
    text-shadow: 2px 2px 2px #000;
    font-size: 4em;
    margin-top: 20px;
    font-family: Champignon;
}

.nav-color-background {
    background-color: rgb(255, 255, 255);
    padding-top: 1rem;
}

.menu-item {
    color: #819679;
    transition: transform 0.7s, text-shadow 0.7s;
}

.menu-item:hover {
    text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.7);
    transform: translateY(-1px);
}

.menu-button {
    border: none;
    outline: none;
    color: #819679;
}

.navbar-box-shadow {
    box-shadow: 0px 5px 8px rgba(0, 0, 0, 0.3);
}

.main_background {
    background-color: rgb(156, 153, 144);
    height: 15rem;
}