.offset {
    margin-top: 30px;
    padding-top: 118px;
}

.main_background {
    background-color: rgb(156, 153, 144);
}

.pres-container {
    margin-top: 100px;
    margin-bottom: 20px;
}

.pres-title {
    color: rgb(194, 208, 185);
}

p {
    color: rgb(255, 255, 255);
}