<div class="main_background offset">
    <div class="container">
        <ngb-carousel #carousel [interval]="3000" [pauseOnHover]="pauseOnHover" (slide)="onSlide($event)">
            <ng-template ngbSlide *ngFor="let img of carouselImages">
                <div class="carousel-caption">
                    <h3>{{img.imageDescription}}</h3>
                </div>
                <div class="picsum-img-wrapper" style="background-color: rgba(0,0,0,0);">
                    <img [src]="loadImage(img.imageUuid)" class="w-100 h-100" />
                </div>
            </ng-template>
        </ngb-carousel>
        <div class="row img-div-admin" *ngIf="isLog">
            <div *ngFor="let img of carouselImages" class="col-auto img-element-admin">
                <img height="64" width="64" [src]="loadImage(img.imageUuid)" />
                <input [(ngModel)]="img.imageDescription" (focusout)="onLostFocus(img)" />
                <div>
                    <button>
                        <mat-icon fontIcon="delete" (click)="deleteCarouselImg(img)"></mat-icon>
                    </button>
                </div>
            </div>
            <div class="col-auto">
                <div #backgroundImage class="image-upload d-flex justify-content-center align-items-center">
                    <label for="file-input">
                        <mat-icon fontIcon="add_photo_alternate" class="education-img" />
                    </label>
                    <input id="file-input" type="file" (change)="importImage($event)" />
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid pres-container">
        <h1 class="pres-title">Présentation de la créatrice</h1>
        <img src="assets/img/IMG-20240201-WA0001.jpg" height="128" width="128" class="profil-img"/>
        <p>
            Les p'tits fils est une jeune entreprise de couture et de savoir-faire français fait main.<br/><br/>
            Très jeune passionnée par la machine à coudre et la création, d'abord, de vêtements d'enfant, j'ai commencé une école de mode en 2020. <br/><br/>
            Aujourd'hui je suis heureuse de pouvoir répondre à vos demandes que ce soit pour vos cortèges d'enfants d'honneur, vos vêtements de la vie quotidienne, vos enfants, vos bébés. Mais aussi pour les femmes ou encore les déguisements pour vos petits chérubins.<br/> 
        </p>
    </div>
</div>