.offset{
    margin-top: 30px;
}

.main_background {
    background-color: rgb(156, 153, 144);
}

.cat-container {
    margin-top: 20px;
    margin-bottom: 20px;
}

.cat-title {
    color: rgb(194, 208, 185);
}

.sub-title {
    color: rgb(194, 208, 185);
}

.cat-card {
    height: 300px;
    width: 350px;
    margin: 20px;
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    transition: background-size 0.8s linear;
    padding: 0px;
}

.cat-card:hover {
    box-shadow: rgba(0, 0, 0, 0.4) 0px 7px 29px 0px;
    background-size: 115%;
}

.cat-div {
    justify-content: center;
}

.cat-card-title {
    color: rgb(194, 208, 185);
    font-weight: bold;
    font-size: 26px;
    text-shadow: 0px 2px rgba(0, 0, 0, 0.4);
}

.cat-card-header {
    background-color: rgb(156, 153, 144, 0.9);
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.breadcrumb ul {
    list-style: none;
}

.breadcrumb li {
    display: inline;
}

.breadcrumb li+li:before {
    padding: 8px;
    content: " > ";
    color: rgb(194, 208, 185);
}

.breadcrumb li h4 {
    display: inline;
}

.breadcrumb li:not(:last-child) {
    cursor: pointer;
}

.sub-page {
    padding-top: 15px;
}

.cat-card-edit-content {
    height: 200px;
    text-align: center;
}

.product-mode {
    float: right;
}

.prod-card{
    height: 300px;
    width: 250px;
    margin: 20px;
    align-items: center;
    background-color: rgb(156, 153, 144);
    border: none;
    box-shadow: none;
    transition: box-shadow 0.8s linear;
    border-radius: 10px;
}

.prod-card:hover{
    box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
    /*box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;*/
}

.prod-card-title{
    font-weight: bold;
    color: rgb(194, 208, 185);
    text-shadow: 0px 2px rgba(0, 0, 0, 0.4);
}