<div class="main_background offset">
    <div class="container-fluid cat-container">
        <ul class="breadcrumb">
            <li>
                <h1 #title class="cat-title" (click)="initCategory(null)">Catégories</h1>
            </li>
            <li *ngFor="let cat of breadCrumbCat" class="sub-page">
                <h4 class="sub-title" (click)="initCategory(cat)">{{cat.name}}</h4>
            </li>
        </ul>
        <div *ngIf="isLog && productMode" class="product-mode">
            <button (click)="openProduct(null)">
                ajouter un article
            </button>
        </div>
        <div class="row cat-div" *ngIf="!isLog && categoryMode">
            <mat-card *ngFor="let cat of allCat" class="col-auto cat-card"
                [ngStyle]="{'background-image': 'url('+loadImage(cat.imageUuid)+')'}" (click)="loadCategory(cat)">
                <mat-card-header class="cat-card-header">
                    <mat-card-title class="cat-card-title">{{cat.name}}</mat-card-title>
                </mat-card-header>
                <mat-card-content>
                </mat-card-content>
            </mat-card>
        </div>
        <div class="row cat-div" *ngIf="productMode">
            <mat-card *ngFor="let product of allProducts" class="col-auto" (click)="openProduct(product)">
            <mat-card-header class="prod-card-header">
                <mat-card-title class="prod-card-title">{{product.title}}</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <img [src]="loadImage(product.uuidsImages.at(0))" width="128px" height="100%"/>
            </mat-card-content>
        </mat-card>
        </div>
        <div class="row cat-div" *ngIf="isLog && categoryMode">
            <mat-card *ngFor="let cat of allCat" class="col-auto cat-card"
                [ngStyle]="{'background-image': 'url('+loadImage(cat.imageUuid)+')'}">
                <mat-card-header>
                    <mat-card-title class="cat-card-title">
                        <input [(ngModel)]="cat.name" (focusout)="onLostFocus(cat)" />
                        &nbsp;
                        <button>
                            <mat-icon fontIcon="delete" (click)="deleteCategory(cat)"></mat-icon>
                        </button>
                    </mat-card-title>
                </mat-card-header>
                <mat-card-content class="cat-card-edit-content">
                    <button>
                        <mat-icon fontIcon="edit" (click)="loadCategory(cat)"></mat-icon>
                    </button>
                </mat-card-content>
            </mat-card>

            <mat-card class="cat-card">
                <mat-card-content>
                    <div #backgroundImage class="image-upload d-flex justify-content-center align-items-center">
                        <label for="file-input">
                            <mat-icon fontIcon="add_photo_alternate" class="education-img" />
                        </label>
                        <input id="file-input" type="file" (change)="importImage($event)" />
                    </div>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
</div>