.offset {
    margin-top: 50px;
    margin-bottom: 30px;
}

.div-log {
    text-align: center;
    color: rgb(255, 255, 255);
}

.p-id {
    width: 250px;
    display: inline-block;
}

button {
    border: none;
    vertical-align: middle;
    margin-top: 5px;
    color: rgb(194, 208, 185);
    background-color: rgb(156, 153, 144);
    cursor: pointer;
    transition: box-shadow 1.2s;
    font-size: 20px;
}

button:hover {
    box-shadow: rgba(0, 0, 0, 0.4) 0px 7px 29px 0px;
}

input {
    box-shadow: rgba(0, 0, 0, 0.4) 0px 7px 29px 0px;
    border: none;
}

input:focus{
    outline: none;
    border: none;
}

input:hover{
    border: none;
}
