<div class="main_background offset">
    <h3 (click)="backToCategory()" class="cat-prod">{{product.category.name}}</h3>
    <div *ngIf="isLog">
        <div class="product-div">
            <input placeholder="titre de l'article" class="prod-title prod-title-input" [(ngModel)]="product.title" />
            <br />
            <div class="product-img">
                <img #firstImage src="{{imageView}}" width="450px" height="300px" class="size-img" />
                <div class="container">
                    <div class="row">
                        <div *ngFor="let img of productImage" class="col-auto">
                            <img src="{{img}}" (click)="changeImg(img)" class="product-thumbnail" />
                        </div>
                    </div>
                </div>
                <div #backgroundImage class="image-upload d-flex justify-content-center align-items-center">
                    <label for="file-input">
                        <mat-icon fontIcon="add_photo_alternate" class="education-img" />
                    </label>
                    <input id="file-input" type="file" (change)="importImage($event)" />
                </div>
            </div>
            <br />
            <textarea type="text" placeholder="entrer la description de l'article" [(ngModel)]="product.body" rows="5"
                cols="100"></textarea>
            <br />
            <button (click)="createProduct()" class="btn-create">Créer l'article</button>
        </div>
    </div>
    <div *ngIf="!isLog" class="product-div">
        <div>
            <div class="title-div">
                <h1 class="prod-title">{{product.title}}</h1>
                <div class="contact-button">
                    <mat-icon class="education-img" matTooltip="Envoyer un message concernant l'article" matTooltipPosition="right" (click)="navigateToContactWithProduct()">message</mat-icon>
                </div>
            </div>
        </div>
        <div class="product-img">
            <img #firstImage src="{{imageView}}" width="450px" height="300px" class="size-img" />
            <div class="container">
                <div class="row">
                    <div *ngFor="let img of productImage" class="col-auto">
                        <img [src]="img" (click)="changeImg(img)" class="product-thumbnail" />
                    </div>
                </div>
            </div>
        </div>
        <div class="div-prod-detail">
            <p class="prod-detail">{{product.body}}</p>
        </div>
    </div>
</div>